.ui.grid > .row.layout-grid-row {
  padding: 0;
}
.ui.segment.layout-admin-title {
  margin: 0;
  padding: 0;
  margin-top: 1.7em;
  font-size: 0.6rem;
  padding-top: 1em;
  padding-bottom: 1em;
}
.layout-admin-title .ui.header {
  margin: 0;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
}
.rail.layout-rail {
  width: 100%;
}
.ui.grid.layout-grid {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.layout-grid .layout-grid-row .column.layout-main-column {
  padding-left: 0;
  padding-right: 0;
}
